
@font-face {
    font-family: 'BMHANNAPro';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

font-face {
    font-family: 'BMHANNAPro', sans-serif;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.poor-story-regular {
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
}  


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


#title-and-rectangle {
    display: flex;
    align-items: center; 
    position: relative;
}

#rectangle {
    width: 9%;
    height: 27%;
    background-color: #CA661D; 
    position: absolute; 
    top: 32%; 
    left: 0;
    z-index: 4;
}

#hometitleone {
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 120px;
    color: #FFA229;
    position: relative;
    margin-left: 13%;
    top: -4%;
    z-index: 2;
    text-decoration: underline;
    text-decoration-color: #FFA229;
    text-decoration-style: solid;
    text-underline-offset: 13%;
}

#cocoapic{
    position: relative;
    z-index: 1;
    top: -23%;
    text-align: center;
}

#title-and-rectangletwo {
    display: flex;
    align-items: center; 
    position: relative;
}

#rectangletwo {
    width: 25%;
    height: 8%;
    background-color: #CA661D; 
    position: absolute; 
    top: -80%; 
    left: 0;
    z-index: 5;
}

#hometitletwo{
    font-family: 'BMHANNAPro', sans-serif; /* Fallback to sans-serif if font doesn't load */
    font-size: 120px;
    color: #FFA229;
    position: relative;
    top: -152%;
    margin-left: 61%;
    z-index: 2;
    text-decoration: underline;
    text-decoration-color: #FFA229;
    text-decoration-style: solid;
    text-underline-offset: 13%;
}

#rectanglefour {
    width: 16%;
    height: 36%;
    background-color: #581915; 
    position: absolute; 
    top: -117%; 
    left: 84%;
    z-index: 6;
}

#title-and-rectanglethree {
    display: flex;
    align-items: center; 
    position: relative;
}

#rectanglethree {
    width: 31%;
    height: 30%;
    background-color: #581915; 
    position: absolute; 
    top: -158%; 
    left: 0;
    z-index: 6;
}

#hometitlethree{
    font-family: 'BMHANNAPro', sans-serif; /* Fallback to sans-serif if font doesn't load */
    font-size: 120px;
    color: #FFA229;
    position: relative;
    z-index: 2;
    top: -200%;
    margin-left: 38%;
    text-decoration: underline;
    text-decoration-color: #FFA229;
    text-decoration-style: solid;
    text-underline-offset: 13%;
}

#redsquare{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 953px;
    margin: 0%;
    flex-shrink: 0;
    background-color: #8C011A;
}

#orangerectangle{
    width: 100%;
    height: 2900px;
    background-color: #CA681C; 
    position: absolute; 
    z-index: 0;
}

#photosection{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    margin-top: 10%;
}

.pic {
    position: relative;
}

article img {
    position: relative;
    z-index: 1;
}

.shadow{
    width: 300px;
    height: 300px;
    background-color: #8C011A;
    position:absolute;
    top: 11px; 
    left: 11px; 
    z-index: 0;
}

h3{
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 27px;
    color: #581915;
    position: relative;
    left: 12%;
    margin-top: 9%;
}

h2{
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 27px;
    color: #581915;
    position: relative;
    left: 20%;
    margin-top: 9%;
}

#yellowrectangle{
    display: flex;
    width: 82%;
    height: 930px;
    margin-left: 9%;
    margin-top: 6%;
    flex-shrink: 0;
    background-color: #FFA229;
    position: relative;
    z-index: 2;
}

#mission-and-rectangle{
    display: flex;
    align-items: center;
    position: relative;
    top: -940px;
}

#missionrectangle{
    width: 540px;
    height: 47%;
    margin-left: 14%;
    background-color: #8C011A;
    position: absolute;
    z-index: 4;
}

#missiontext{
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 80px;
    color: #FFA229;
    position: relative;
    margin-left: 16%;
    text-decoration: underline;
    text-decoration-color: #FFA229;
    text-decoration-style: solid;
    text-underline-offset: 13%;
    z-index: 4;

} 

p{
    font-family: "Poor Story", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    margin-left: 15%;
    margin-right: 44%;
    color: #581915;
    position: relative;
    z-index: 5;
    top: -965px;
    margin-top: 0px;
}

#painter{
    position: relative;
    z-index: 5;
    top: -1610px;
    margin-left: 58%;
}

#shadow2{
    width: 360px;
    height: 480px;
    background-color: #CA681C;
    position:absolute;
    top: 11px; 
    left: 11px; 
    z-index: 0;
}

#redline{
    display: flex;
    width: 60%;
    height: 40px;
    margin-top: 6%;
    flex-shrink: 0;
    background-color: #8C011A;
    position: absolute;
    z-index: 4;
    top: 2450px;
}

#brownrectangle{
    display: flex;
    width: 82%;
    height: 1130px;
    margin-left: 9%;
    margin-top: 6%;
    flex-shrink: 0;
    background-color: #581915;
    position: relative;
    z-index: 0;
    top: -1320px;
}

#about-and-rectangle{
    display: flex;
    align-items: center;
    position: relative;
    top: -2430px;
    margin-left: 39%;
}

#aboutrectangle{
    width: 470px;
    height: 47%;
    margin-left: 13%;
    background-color: #FFA229;
    position: absolute;
    z-index: 4;
}

#abouttext{
    font-family: 'BMHANNAPro', sans-serif;
    font-size: 80px;
    color: #8C011A;
    position: relative;
    margin-left: 16%;
    text-decoration: underline;
    text-decoration-color: #8C011A;
    text-decoration-style: solid;
    text-underline-offset: 13%;
    z-index: 4;
}


#aboutparagraph{
    color: #FFA229;
    top: -2450px;
    margin-left: 47%;
    margin-right: 14%;
}

#me{
    position: relative;
    z-index: 5;
    margin-left: 16%;
    top:-3240px;
}

#shadow3{
    width: 362px;
    height: 540px;
    background-color: #FFA229;
    position:absolute;
    top: 11px; 
    left: 11px; 
    margin-left: -2%;
    z-index: 0;
}