nav{
    background-color: black;
    height: 90px;
    position: fixed;
    bottom: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }