*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'BMHANNAPro';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

font-face {
  font-family: 'BMHANNAPro', sans-serif;
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.0/BMHANNAPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.poor-story-regular {
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
}  

nav{
  background-color: #CA661D;
  height: 85px;
  position: fixed;
  top: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
}

a{
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 28px;
  Color: #FFA229;
  text-decoration: none;
}

#img-and-overlay {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}

#bgimg{
  filter: blur(3px);
  position: relative;
  z-index: 1;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(225, 109, 0, 0.4); 
  pointer-events: none; 
  z-index: 2;
}

#brownline{
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 40px; 
  background-color: #581915;
  z-index: 2; 
}

#titleone{
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 90px;
  color: #581915;
  position: relative;
  text-align: center;
  top: -400px;
  z-index: 4;
  text-decoration: underline;
  text-decoration-color: #581915;
  text-decoration-style: solid;
  text-underline-offset: 17%;
}

h3{
  font-family: 'BMHANNAPro', sans-serif;
  font-size: 30px;
  color: #581915;
  position: relative;
  text-align: center;
  top: -400px;
  z-index: 4;
  margin-top: 35px;
  letter-spacing: 5px;
}

#yellowbody{
  width: 100%;
  height: 2900px;
  background-color: #FFA229;    
  position: relative; 
  z-index: 0;
  top: -160px;
}

#brownsquare{
  width: 87%;
  height: 750px;
  background-color: #CA681C;    
  position: relative; 
  z-index: 2;
  top: -2970px;
}

#firstsection{
  display: flex;
  flex-direction: row;
}

p{
  font-family: "Poor Story", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin-left: 10%;
  margin-right: 49%;
  color: #581915;
  position: relative;
  z-index: 5;
  top: -3650px;

}

#image{
  z-index: 4;
}






